/*首页的css*/
/*容器宽度*/
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  //border: 1px solid pink;
}

body{
  overflow-x: hidden; /*始终不显示x方向的滚动条*/
}

/*自定义滚动条*/
.home_warp{
  position: relative;
  height: 100%;
  overflow-y: auto;
  z-index: 300;
  &::-webkit-scrollbar {
    width: 16px;
    //z-index: 300;
  }
  /*定义滚动条轨道 内阴影+圆角*/
  &::-webkit-scrollbar-track
  {
    background-color: #f1f1f1;
  }
  /*定义滑块 内阴影+圆角*/
  &::-webkit-scrollbar-thumb
  {
    background-color: #999999;
  }
}

/*首页*/
.home_warp {
  /*头部*/
  .home_header {
    width: 100%;
    /*导航条*/
    .nav_bar {
      width: 100%;
      height: 60px;
      background-color: #0E48B4;
      position: fixed;
      top: 0;
      //left: 0;
      z-index: 200;
      box-shadow: 0 2px 2px rgba(0,0,0,.2);
      .container {
        display: flex;
        justify-content: space-between;
        .logo {
          > a {
            width: 118px;
            height: 24px;
            //border: 1px solid pink;
            margin-top: 18px;
            background: url("../images/logo/home_footer_logo.png") no-repeat;
            text-indent: -9999px;
          }
        }
        .nav {
          //border: 1px solid red;
          display: flex;
          > a {
            //border: 1px solid blue;
            height: 60px;
            > span {
              color: white;
              display: block;
              padding: 0 35px;
              line-height: 60px;
              &.active {
                color: #FFD24C;
              }
            }
            > em {
              display: none;
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background-color: white;
              position: relative;
              top: -16px;
              left: 0;
              right: 0;
              margin: auto;
              &.active {
                display: block;
                background-color: #FFD24C;
              }
            }
            &:hover {
              > span {
                color: #FFD24C;
              }
              > em {
                display: block;
                background-color: #FFD24C;
              }
            }
          }
        }
      }
    }
    /*banner*/
    .home_banner {
      width: 100%;
      background: url("../images/bg/bg1.png") #0E48B4;
      margin-top: 60px;
      .container {
        //border: 1px solid #ffffff;
        height: 770px;
        color: white;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        .banner_logo {
          width: 120px;
          height: 140px;
          margin-top: 140px;
          //margin-bottom: 40px;
          background: url("../images/logo/banner_logo.png") no-repeat;
        }
        .banner_h2 {
          font-size: 45px;
          line-height: 80px;
          margin-top: 12px;
        }
        > p {
          line-height: 30px;
        }
        .banner_arrows {
          width: 14px;
          height: 30px;
          background: url("../images/icon/home_arrow_down.png") no-repeat;
          margin-top: 220px;
          cursor: pointer;
        }
      }
    }
  }
  /*特色*/
  .home_feature {
    width: 100%;
    //position: absolute;
    .container {
      //border: 1px solid #000;
      padding-top: 150px;
      //margin-top: 150px;
      margin-bottom: 150px;
      .feature_ul {
        display: flex;
        justify-content: space-between;
        > li {
          width: 280px;
          //border: 1px solid blue;
          > i {
            display: block;
            width: 56px;
            height: 56px;

            margin-bottom: 30px;
          }
          > h3 {
            font-size: 24px;
            margin-bottom: 24px;
            color: #000527;
          }
          > p {
            font-size: 14px;
            line-height: 22px;
            color: #505050;
          }
          > i.money {
            background: url("../images/icon/feature_icon_1.png");
          }
          > i.flexible {
            background: url("../images/icon/feature_icon_2.png");
          }
          > i.straight {
            background: url("../images/icon/feature_icon_3.png");
          }
          > i.safety {
            background: url("../images/icon/feature_icon_4.png");
          }
          > i.avoid {
            background: url("../images/icon/feature_icon_5.png");
          }
          > i.defend {
            background: url("../images/icon/feature_icon_6.png");
          }
        }
        &:nth-child(1) {
          margin-bottom: 80px;
        }
      }
    }
  }
  /*全球*/
  .home_global {
    width: 100%;
    //height: 580px;
    background-color: rgba(242, 247, 251, 1);
    .container {
      //height: 280px;
      display: flex;
      justify-content: space-between;
      > div {
        width: 570px;
        height: 280px;
        margin-top: 150px;
        margin-bottom: 150px;
        position: relative;
        > div {
          width: 400px;
          height: 173px;
          //border: 1px solid #000;
          position: absolute;
          top: 52px;
          right: 52px;
          bottom: 55px;
          > h3 {
            font-size: 24px;
            margin-bottom: 18px;
            color: #000527;
          }
          > p {
            color: #505050;
            font-size: 14px;
            line-height: 22px;
          }
        }
      }
      .global_left {
        background: url("../images/icon/adv_icon_quick.png");
      }
      .global_right {
        background: url("../images/icon/adv_icon_glo.png");
        .global_right_content {
          right: 40px;
          bottom: 80px;
        }
      }
    }
  }
  /*交易*/
  .home_deal {
    //height: 562px;
    //border: 1px solid pink;
    .container {
      height: 280px;
      //border: 1px solid #000;
      margin-top: 150px;
      margin-bottom: 150px;
      display: flex;
      justify-content: space-between;
      .deal_item {
        width: 290px;
        height: 280px;
        //border: 1px solid red;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        .deal_item_img {
          width: 200px;
          height: 140px;
          background: url("../images/icon/icon_easy.png");
        }
        .deal_item_content {
          width: 302px;
          height: 80px;
          //border: 1px solid #000;
          > h3 {
            text-align: center;
            font-size: 24px;
            margin-bottom: 18px;
            color: #000527;
          }
          > p {
            font-size: 14px;
            text-align: center;
            line-height: 20px;
          }
        }
        &:nth-child(2) .deal_item_img {
          background: url("../images/icon/icon_infinite.png");
        }
        &:nth-child(3) .deal_item_img {
          background: url("../images/icon/icon_time.png");
        }
      }
    }
  }
  /*数字数据*/
  .home_numberdata {
    width: 100%;
    height: 387px;
    background: url("../images/bg/bg2.png") #0E48B4;
    .container {
      display: flex;
      justify-content: space-between;
      .numberdata_item {
        width: 20%;
        //height: 90px;
        margin-top: 132px;
        margin-bottom: 150px;
        //border: 1px solid #000;
        > span {
          color: #FFD24C;
          font-size: 72px;
          display: block;
          text-align: center;
        }
        > p {
          font-size: 14px;
          color: white;
          text-align: center;
        }
      }
    }
  }
  /*品种*/
  .home_variety {
    width: 100%;
    //height: 916px;
    .container {
      //border: 1px solid pink;
      //height: 708px;
      display: flex;
      justify-content: space-between;
      .variety_item {
        height: 616px;
        //border: 1px solid green;
        margin-top: 150px;
        margin-bottom: 150px;
        color: white;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
      }
      .left_column {
        width: 326px;
        .variety_forex_container {
          width: 326px;
          height: 280px;
          background: url("../images/img/img_trade_forex.png");
          .variety_forex_content {
            padding-top: 29px;
            margin-left: 28px;
            margin-right: 28px;
            > h3 {
              font-size: 24px;
              margin-bottom: 10px;
            }
            > p {
              font-size: 14px;
              line-height: 24px;
            }
          }
          .variety_forex_more {
            width: 158px;
            height: 44px;
            border: 1px solid white;
            border-radius: 22px;
            margin-top: 30px;
            margin-left: 28px;
            text-align: center;
            line-height: 44px;
            cursor: pointer;
            &:hover {
              background-color: #0E48B4;
              border: 1px solid #0E48B4;
              color: white;
            }
          }
        }
        .variety_oil {
          width: 326px;
          height: 280px;
          background: url("../images/img/img_trade_oil.png");
          text-align: center;
          line-height: 280px;
          font-size: 24px;
        }
        .item_left_content {
          width: 270px;
          height: 126px;
          border: 1px solid red;
        }
      }
      .middle_column {
        width: 326px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        .variety_metal {
          width: 326px;
          height: 280px;
          background: url("../images/img/img_trade_gold.png");
          text-align: center;
          line-height: 280px;
          font-size: 24px;
        }
        .variety_sensex {
          width: 326px;
          height: 280px;
          background: url("../images/img/img_trade_cfd.png");
          text-align: center;
          line-height: 280px;
          font-size: 24px;
        }
      }
      .right_column {
        width: 434px;
        height: 616px;
        background: url("../images/img/img_trade.png");
        .variety_many {
          //border: 1px solid #000;
          margin-top: 73px;
          margin-right: 161px;
          margin-left: 59px;
          > h3 {
            font-size: 24px;
            white-space: nowrap;
          }
          > p {
            font-size: 14px;
            line-height: 35px;
            text-align: center;
          }
        }
      }
    }
  }
  /*平台*/
  .home_platform {
    width: 100%;
    //height: 562px;
    background: rgba(242, 247, 251, 1);
    .container {
      //border: 1px solid blue;
      display: flex;
      justify-content: space-between;
      .platform_img {
        width: 424px;
        height: 212px;
        background: url("../images/img/home_img_platform.png");
        margin-top: 185px;
      }
      .platform_mt5_container {
        margin-top: 147px;
        width: 598px;
        //height: 238px;
        //border: 1px solid green;
        .platform_mt5_content {
          width: 598px;
          height: 175px;
          //border: 1px solid red;
          > h3 {
            font-size: 24px;
            color: #000527;
            margin-bottom: 10px;
          }
          > p {
            font-size: 14px;
            color: #505050;
            line-height: 24px;
          }
        }
        .platform_app {
          height: 245px;
          margin-top: 41px;
          display: flex;
          justify-content: space-between;
          .app_download{
            width: 180px;
            margin-bottom: 5px;
            //border: 1px solid #000;
            .download_item{
              display: flex;
              justify-content: center;
              border-radius:25px;
              cursor: pointer;
              .btn_container{
                width: 100px;
                height: 50px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .item_icon {
                  width: 22px;
                  height: 22px;
                }
                .iOS_icon{
                  background: url("../images/icon/home_icon_iphone_sel.png") no-repeat;
                }
              }
            }
            .QRcode{
              width: 180px;
              height: 180px;
              //border: 1px solid #0E48B4;
              margin-top: 5px;
              display: none;
            }
          }
          .app_iOS{
            .download_item{
              background: #0E48B4;
              .btn_container{
                > span{
                  color: white;
                }
              }
            }

            &:hover{
              .QRcode{
                width: 180px;
                height: 180px;
                display: block;
                //background: url("../images/QRcode/01.png") no-repeat center;
                background-size: cover;
                text-indent: -9999px;
              }
            }
          }
          .app_Android{
            height: 240px;
            .download_item{
              border: 1px solid #0E48B4;
              .btn_container{
                .Android_icon{
                  background: url("../images/icon/home_icon_and_nor.png") no-repeat;
                }
                > span{
                  color: #0E48B4;
                }
              }
            }
            &:hover{
              .download_item{
                background: #0E48B4;
              }
              .btn_container{
                .Android_icon{
                  background: url("../images/icon/home_icon_and_sel.png") no-repeat;
                }
                > span{
                  color: white;
                }
              }
              .QRcode{
                display: block;
                //background: url("../images/QRcode/01.png") no-repeat center;
                background-size: cover;
                text-indent: -9999px;
              }
            }
          }
          .app_windows{
            .download_item{
              border: 1px solid #0E48B4;
              .btn_container{
                .windows_icon{
                  background: url("../images/icon/home_icon_win_nor.png") no-repeat;
                }
                > span{
                  color: #0E48B4;
                }
              }
              &:hover{
                background: #0E48B4;
                .btn_container{
                  .windows_icon{
                    background: url("../images/icon/home_icon_win_se.png") no-repeat;
                  }
                  > span{
                    color: white;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  /*底部*/
  .footer {
    width: 100%;
    //height: 412px;
    background: #0E48B4;
    .container {
      //height: 214px;
      //border: 1px solid #000;
      .footer_main {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        margin-bottom: 30px;
        > div {
          font-size: 14px;
          line-height: 24px;
          > a {
            color: #B9D2EB;
            white-space: nowrap;
            &:first-child {
              color: white;
            }
            &:hover {
              color: white;
            }
          }
          > p {
            color: #B9D2EB;
          }
        }
        .footer_logo {
          > a {
            width: 118px;
            height: 24px;
            //border: 1px solid pink;
            //margin-top: 18px;
            background: url("../images/logo/home_footer_logo.png") no-repeat;
            text-indent: -9999px;
          }
        }
        .footer_risk {
          width: 550px;
          height: 135px;
        }
        .footer_help {
          width: 56px;
          height: 134px;
        }
        .footer_account {
          width: 57px;
          height: 86px;
        }
        .footer_about_us {
          width: 56px;
          height: 110px;
        }
      }
      .footer_policy {
        //border: 1px solid white;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 14px;
        line-height: 24px;
        > h3 {
          color: white;
        }
        > p {
          color: #B9D2EB;
        }
      }
      .footer_address {
        font-style: normal;
        color: #B9D2EB;
        p {
          text-align: center;
          height: 74px;
          line-height: 74px;
        }
      }
    }
    .footer_line {
      width: 100%;
      height: 1px;
      background: rgba(0, 93, 184, 1);
    }
  }
}
