/*交易品种css*/

/*容器宽度*/
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  //border: 1px solid pink;
}

.clearfix() {
  zoom: 1;
  &:after {
    clear: both;
  }
  &:before,
  &:after {
    content: "";
    display: table;
  }
}

/*头部*/
.variety-header{
  /*导航条*/
  .nav-bar {
    width: 100%;
    height: 60px;
    background-color: #0E48B4;
    position: fixed;
    top: 0;
    //left: 0;
    z-index: 200;
    box-shadow: 0 2px 2px rgba(0,0,0,.2);
    .container {
      .clearfix();
      .logo {
        float: left;
        a {
          width: 118px;
          height: 24px;
          //border: 1px solid pink;
          margin-top: 18px;
        }
      }
      .nav {
        float: right;
        margin-right: -35px;
        a {
          //border: 1px solid blue;
          height: 60px;
          float: left;
          span {
            color: white;
            display: block;
            padding: 0 35px;
            line-height: 60px;
          }
          em {
            display: none;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: white;
            position: relative;
            top: -16px;
            left: 0;
            right: 0;
            margin: auto;
          }
          &.active {
            span {
              color: #FFD24C;
            }
            em {
              display: block;
              background-color: #FFD24C;
            }
          }
          &:hover {
            span {
              color: #FFD24C;
            }
            em {
              display: block;
              background-color: #FFD24C;
            }
          }
        }
      }
    }
  }
  /*banner*/
  .variety-banner{
    width: 100%;
    background: url("../images/bg/bg_risk.png") #0E48B4 no-repeat;
    margin-top: 60px;
    .container{
      //border: 1px solid #ffffff;
      height: 420px;
      color: white;
      text-align: center;
      .banner_h2{
        font-size: 45px;
        line-height: 80px;
        padding-top: 103px;

      }
      p{
        line-height: 30px;
      }
    }
  }
}
/*品种类型*/
.variety_type{
  .container{
    //border: 1px solid #000;
    padding-top: 150px;
    .clearfix();
    .variety_left{
      float: left;
      .variety_item{
        .variety_item_img{
          width: 560px;
          height: 374px;
          background: url("../images/img/platform_img_dig.png") no-repeat;
        }
        &:nth-child(2){
          .variety_item_img{
            background: url("../images/img/platform_img_oil.png") no-repeat;
          }
        }
        &:nth-child(3){
          .variety_item_img{
            background: url("../images/img/platform_img_forex.png") no-repeat;
          }
        }
      }
    }
    .variety_right{
      float: right;
      .variety_item{
        margin-top: 150px;
        .variety_item_img{
          width: 560px;
          height: 374px;
          background: url("../images/img/platform_img_gold.png") no-repeat;
        }
        &:nth-child(2){
          .variety_item_img{
            background: url("../images/img/platform_img_cfd.png") no-repeat;
          }
        }
      }
    }
    .variety_item{
      width: 560px;
      //height: 589px;
      margin-bottom: 125px;
      //border: 1px solid #000;
      padding-bottom: 30px;
      .variety_item_content{
        background-color: #F2F1EF;
        padding-top: 30px;
        padding-left: 32px;
        padding-right: 32px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        border-radius:0px 0px 10px 10px;
        .content_detail{
          padding-bottom: 30px;
          > h3{
            color: #000527;
            font-size: 24px;
            margin-bottom: 10px;
            font-weight: bold;
            > span{
              color: #0E48B4;
            }
          }
          > p{
            color: #505050;
            font-size: 14px;
            line-height: 24px;
          }
        }
        .detail_more{
          display: block;
          width:200px;
          height:50px;
          border: 1px solid #0E48B4;
          border-radius:25px;
          margin-bottom: 31px;
          text-align: center;
          line-height: 50px;
          color: #0E48B4;
          cursor: pointer;
          &:hover{
            background: #0E48B4;
            color: white;
          }
        }
      }
    }
  }
}
/*底部*/
.footer {
  width: 100%;
  background: #0E48B4;
  .container {
    //border: 1px solid #000;
    .footer_main {
      padding-top: 50px;
      margin-bottom: 30px;
      font-size: 14px;
      line-height: 24px;
      .clearfix();
      a {
        color: #B9D2EB;
        white-space: nowrap;
        &:first-child {
          color: white;
        }
        &:hover {
          color: white;
        }
      }
      p {
        color: #B9D2EB;
      }
      .footer_logo {
        float: left;
        a {
          width: 118px;
          height: 24px;
          //border: 1px solid pink;
          background: url("../images/logo/home_footer_logo.png") no-repeat;
          text-indent: -9999px;
        }
      }
      .footer_risk {
        width: 505px;
        float: left;
        margin-left: 100px;
      }
      .footer_help {
        width: 56px;
        float: left;
        margin-left: 100px;
      }
      .footer_account {
        width: 57px;
        float: left;
        margin-left: 100px;
      }
      .footer_about_us {
        width: 56px;
        float: right;
      }
    }
    .footer_policy {
      //border: 1px solid white;
      margin-top: 30px;
      margin-bottom: 30px;
      font-size: 14px;
      line-height: 24px;
      h3 {
        color: white;
      }
      p {
        color: #B9D2EB;
      }
    }
    .footer_address {
      font-style: normal;
      color: #B9D2EB;
      p {
        text-align: center;
        height: 74px;
        line-height: 74px;
      }
    }
  }
  .footer_line {
    width: 100%;
    height: 1px;
    background: rgba(0, 93, 184, 1);
  }
}